.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  width: 306px;
  padding: 36px 28px 76px;

  background: #FFFFFF;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);

  @media (max-width: 1000px) {
    width: 100%;
    right: 0;
    bottom: auto;
    padding: 10px 20px;

    z-index: 10;
  }

  &__burger-menu {
    display: none;

    @media (max-width: 1000px) {
      display: block;
    }
  }

  &__burger-icon {
    height: 35px;
    width: 35px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;

    @media (max-width: 1000px) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__logo {
    margin-bottom: 65px;

    @media (max-width: 1000px) {
      margin-bottom: 0;
    }
  }

  &__logo-icon {
    position: relative;

    @media (max-width: 400px) {
      width: 150px;
    }
  }

  &__version-icon {
    position: absolute;
    width: 18px;
    height: 15px;
    left: 227px;
    top: 54px;

    @media (max-width: 1000px) {
      left: auto;
      top: 28px;
    }
  }

  &__nav-list {
    padding: 0;

    font-weight: 500;

    list-style: none;
    color: #9197B3;

    @media (max-width: 1000px) {
      display: none;
      position: fixed;
      left: 0;
      right: 0;
      padding: 50px 20px;
      margin: 0;
      height: 100vh;

      background-color: #FFFFFF;
    }
  }

  &__nav-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 46px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 13px 19px 13px 13px;
    margin-bottom: 18px;

    cursor: pointer;

    &--title {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &--selected {
      background: #5932EA;
      color: white;
    }
  }

  &__icon {
    margin-right: 16px;
  }

  &__open-menu {
    display: block;
  }

  &__user {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  &__user-info {
    @media (max-width: 1000px) {
      display: none;
    }
  }

  &__user-name {
    margin: 0;
    font-weight: 500;
    color: #000;
  }

  &__user-position {
    margin: 0;
    color: #757575;
  }
}