.customer-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 
  display: flex;
  justify-content: center;
  align-items: center;
  
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);

  @media (min-width: 1000px) {
    display: none;
  }

  &__content {
    width: 80%;
    padding: 30px;
    border-radius: 20px;
    background-color: #fff;
  }

  &__close-button {
    display: flex;
    justify-content: right;
  }
}
